body{
    margin-top: 0px;
}
.player_selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}    
.heading{
    font-size: 3em;
}
.selectPlayer_btn{
    width: 9em;
   height: 3em;
    background-color: rgb(192, 192, 189);
    border-color:  rgb(192, 192, 189);
    font-size: 15px;
    font-weight: bold;
 }  
.player_buttons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
}
.twoPlayer_btn{
   width: 9em;
   height: 3em;
   background-color: rgb(54, 231, 208);
   border-color:  rgb(54, 231, 208);
   font-size: 15px;
   font-weight: bold;
}
.AIplayer_btn{
   
   width: 9em;
   height: 3em;
   background-color:  rgb(156, 156, 241);
   border-color:   rgb(156, 156, 241);
   font-size: 15px;
   font-weight: bold;
}
.player_form{
   position: absolute;
   top: 30%;
   left: 50%;
}
form{
    background-color: rgb(201, 247, 155);
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 9em;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.play_btn{
    background-color: rgb(39, 243, 73);
    border-color:  rgb(39, 243, 73);
}

.label-left{
    font-size: 22px;
    position: absolute;
    top: 40%;
    right: 20%;
}
.label-right{
    font-size: 22px;
    position: absolute;
    top: 40%;
    left: 10%;
}
.game_board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    
}
#current_Player{
    color: brown;
    position: absolute;
    top: 40%;
    left: 38%;
}
.square{
    background-color: rgb(243, 125, 213);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
    line-height: 100px;
  }

.restart_btn{
    background-color: rgb(218, 201, 105);
    margin-top: 1em;
    width: 100px;
    height: 40px;
    border-color:  rgb(218, 201, 105);
    border-radius: 5px;
    font-size: 20px;
}